Package: htop-dbgsym
Package-Type: ddeb
Source: htop
Version: 2.2.2-2
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Daniel Lange <DLange@debian.org>
Installed-Size: 251
Depends: htop (= 2.2.2-2)
Section: debug
Priority: optional
Description: debug symbols for htop
Build-Ids: 79261e4d4b380e014722b6d2300ff9c5e175c568
