Package: htop
Version: 2.2.2-2
Architecture: arm64
Maintainer: Daniel Lange <DLange@debian.org>
Installed-Size: 233
Depends: libc6 (>= 2.17), libncursesw6 (>= 6), libtinfo6 (>= 6)
Suggests: lsof, strace
Section: utils
Priority: optional
Homepage: https://hisham.hm/htop/
Description: interactive processes viewer
 Htop is an ncursed-based process viewer similar to top, but it
 allows one to scroll the list vertically and horizontally to see
 all processes and their full command lines.
 .
 Tasks related to processes (killing, renicing) can be done without
 entering their PIDs.
